@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
	font-family: "Roboto", sans-sarif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.primary-header {
	font-family: "Roboto", sans-sarif;
	margin-top: none;
	height: 65px;
	background: #333546;
	padding: 5px auto;
}

.header-cal-2 {
	width: 65%;
}
.header-cal-3 {
	width: 45%;
}

.brand__logo-img {
	position: relative;
	top: -3px;
	width: 140px;
	height: 60px;
}

.header-inner {
	display: flex;
	margin: 0px 40px 40px 45px;
	padding-top: 15px;
}

/* Search bar */
input[type="text"] {
	width: 83%;

	box-sizing: border-box;
	border: 0px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	background-size: 20px;
	background-color: white;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 10px 20px 10px 40px;
	transition: width 0.4s ease-in-out;
}

.search-logo {
	width: 16px;
	position: absolute;
	top: 26px;
	left: 190px;
}

.down {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #fbfcfe;
	margin-left: 2px;
	position: relative;
	top: -2px;
}

.inner-nav1 {
	margin-top: 9px;
	display: flex;
	color: #ceced0;
}

.inner-nav {
	font-size: 14px;
	font-weight: 400;
	display: flex;
	margin-left: 108px;
}

.inner-nav > p {
	margin: 0 16px;
}

/* Sandwich nav-button */
.sandwich_icon {
	width: 20px;
	height: 1px;
	border-radius: 20%;
	background-color: white;
	margin: 5px 0;
}

.signIn_Btn {
	font-family: "Roboto", sans-sarif;
	background: none;
	color: #ffffff;
	padding: 2px 5px;
	border-radius: 6px;
	position: relative;
	top: -5px;
	width: 68px;
	height: 25px;
	left: 20px;
}

.header-col-1 {
	position: relative;
	bottom: 10px;
}

.nav-btn {
	position: relative;
	left: 50px;
	bottom: 3px;
}

.secondary-header {
	font-family: "Roboto", sans-sarif;
	margin-top: none;
	height: 40px;
	background: #1f2533;
	padding: 0 10px;
	position: relative;
	bottom: 50px;
	display: flex;
}

.inner-nav-left2 {
	font-size: 14px;
	font-weight: 400;
	color: #ceced0;
	margin: 10px;
}
a + a {
	margin-left: 24.5px;
}
.inner-nav-right2 {
	color: #b1b1b1;
	font-size: 12px;
	display: flex;
	margin-left: auto;
	align-items: center;
	padding-right: 42px;
}

.first-main-content {
	display: flex;
	position: relative;
	top: 50px;
	overflow: hidden;
}

.first-main-content > img {
	position: relative;
	border-radius: 8px;
	margin-left: 5px;
	margin-right: 5px;

	width: 770px;
}

.left-img {
	right: 490px;
}

.mid-img {
	right: 495px;
}

.right-img {
	right: 495px;
}

.left-nav-main {
	width: 21%;
	position: relative;
	top: 50px;
	margin-left: 70px;
	font-size: 16px;
	color: #333;
}
.trend-text {
	font-size: 18px;
	color: #333;
	margin-bottom: 11px;
}

.middle-content {
	display: flex;
	background: #f2f2f2;
	margin-top: 60px;
}
.trending-search h4 {
	font-size: 14px;
	background: white;
	padding: 10px;
	margin-bottom: 2px;
	font-weight: 100;
}
.trending-search h4 p {
	font-size: 12px;
	color: #999;
	margin-top: 5px;
}

.right {
	width: 79%;
}

.ocassion-booking {
	background: #ffffff;
	display: flex;
	margin-top: 50px;
}

.ocassion-booking img {
	width: 270px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height: 60px;
}
.ocassion-booking button {
	border: 1px solid #e9334b;
	padding: 7px 15px;
	border-radius: 4px;
	color: #fff;
	background: #e9334b;
	font-size: 14px;
	margin-left: auto;
	height: 30px;
	align-self: center;
	margin-right: 12px;
}

.mid-main-content {
	margin: 0 75px 0 42px;
}
.booking-text {
	font-size: 18px;
	color: #333;
	align-self: center;
	margin-left: 20px;
}
.booking-text > p:nth-child(2) {
	font-size: 14px;
}
.movies > div {
	display: flex;
	padding: 25px 0 8px 0;
}

.movies h2 {
	color: #333333;
	font-size: 18px;
}

.movies a {
	font-size: 14px;
	text-decoration: none;
	color: #0078ff;
	font-weight: 500;
	margin-left: auto;
	align-self: center;
}

.movie-card {
	background: white;
	overflow: hidden;
	width: 278px;
	border-radius: 10px;
}

.movie-card img {
	width: 278px;
}

.movie-details {
	display: flex;
	padding: 10px 0 10px 14px;
}

.movie-info {
	padding-left: 12px;
}

.popularity {
	display: flex;
}

.popularity img {
	width: 14px;
	height: 14px;
	margin-right: 5px;
	margin-top: 2px;
}
.popularity p {
	font-size: 14px;
	color: #333;
}

.movie-info p {
	font-size: 14px;
	color: #333;
}

.movie-info p:nth-child(2) {
	font-size: 12px;
	color: #999;
}

.movie-card-list {
	display: flex;
	justify-content: space-between;
}

.collections h2 {
	color: #333333;
	font-size: 18px;
	margin: 50px 0 20px 0;
}

.collections-card-list {
	display: flex;
	justify-content: space-between;
}

.collections img {
	width: 278px;
}

.collections-card {
	overflow: hidden;
	border-radius: 5px;
}

img:hover,
button:hover {
	cursor: pointer;
}
